* {margin: 0;
   padding: 0;}

body {background-color: #d6f3c9cc;}

/*---- Navbar ---*/

.nnnn {background-color: green;}

.nav-item a  {
    color: white;}

/*---- Home Page ---*/

.home-image {margin-top: 97px;}

.home-image img {background-size: cover;
             background-repeat: no-repeat;
             width: 100vw;
             height: 450px;}

/*---- My Herbs ---*/

.container-fluid {padding: 0;}

h5 {text-align: center;
      padding: 0;
      margin: 0;}

.rev {background-color: black;
          color: white;}

span{color: green;}

.cu{color: black;
    padding: 0;
    margin: 0;
    background-color: lightgreen;}

.card-body {padding: 0;}

.card-title {margin: 0;}

.card-title span a {background-color: green;
                    color: white;
                    font-size: 20px;
                    width: 130px;}

.card {margin: 35px;
      border: 1px solid springgreen;
      border-radius: 4px;}

.rev-display {display: inline-block;}

/*---- All herbs Page ---*/

.allherbsBg {background-image: url("../herbsimages/allherbsbackground.jpg");       
             background-repeat: no-repeat;
             background-size: cover;
             }

/*---- Herb Page ---*/

.herbGb {background-image: url("../herbsimages/herbbackground.jpg");       
         background-repeat: no-repeat;
         background-size: cover;
         margin-top: 5px;
         border-top: 1px solid black;}

.herbBgcolor {background-color: white;}

.herbnamecure_Bg {background-color: limegreen;}

.herb_image_container {width: 80%;
                       text-align: center;
                       margin: 5px 0;
                       height: 350px;}

.herbDescription {border: 1px solid limegreen;
                  padding: 7px;
                  text-align: center;
                  background-color: lightgray;
                  border-radius: 15px;}

.herbPreparation { border: 1px solid limegreen;
                  padding: 7px;
                  text-align: center;
                  background-color: lightgray;
                  border-radius: 15px;}

.herbUsage { border: 1px solid limegreen;
             padding: 7px;
             text-align: center;
             background-color: lightgray;
             border-radius: 15px;}


/*---- Add Herb ---*/

.add_herb_container_color {background-color: white; }

/*---- Log in Form ---*/

/*---- Sign up Form ---*/

form{margin-right: auto;
    text-align: left;
    display: inline-block;
    margin-left: auto;}
    
    

