<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid  allherbsBg">
{% if session['logged_in'] == True  %}
   {% else %}
 {% endif %}
  <!--Cycles throug all the herbs-->
  {% for herb in herbs %}
  <div class="row">
<div class="col-md-4">
<div class="card">
<a href="{{ url_for('herb', herb_id=herb._id) }}"> 
  {% if herb.herb_image %}
    <img src="{{herb.herb_image}}" class="herb_image card-img-top" alt="{{herb.herb_name}}">
  {% else %}
    <img src="{{ url_for('static', filename='herbsimages/imgae_placholder.jpg') }}"
            class="responsive-img" alt="No Herb image available" />
  {% endif %}      
</a>
  <div class="card-body">
    <div class="cu">
      <h5 class="card-title">{{ herb.herb_name }}</h5>
    </div>
    <div>
      <h5 class="card-title cu">{{ herb.herb_cure }}</h5>
    </div>
    <div class="reviewblock">
      <a href="{{ url_for('all_reviews') }} " class="review"> Reviews </a>
      <a href=" {{ url_for('add_review') }}" class="+"> + </a>
    </div>
 
</div>
</div>
</div>
</div>
 {% endfor %}
</div>
{% endblock %}