<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
<title>Traditional Herbs</title>
</head>
<header>
<nav class="navbar navbar-expand-md navbarBg ">
  <a class="navbar-brand" href="{{ url_for('index')}}">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <ul class="navbar-nav">
      {% if session['logged_in'] == True  %}
      <li>
        <a class=" nav-link" href="{{url_for('my_herbs')}}" title="List your herbs">My Herbs</a>
      </li>
      <li>
        <a class=" nav-link" href="{{url_for('all_herbs')}}" title="List your all herbs">All Herbs</a>
      </li>
        {% else %}
        {% endif %}
      <li class="nav-item">
        <a class=" nav-link" href="{{url_for('add_herb')}}">Add Herb</a>
      </li>
      {% if session['logged_in'] == True %}
      <li class="nav-item">   
        <a class=" nav-link" title="Logout" href="{{url_for('logout')}}">Logout</a>
      </li>
          {% else %}
      <li> 
         <a class=" nav-link" href="{{url_for('all_herbs')}}" title="List your all herbs">All Herbs</a>
      </li>
      <li>
        <a class=" nav-link" title="Login" href="{{url_for('login')}}">Login</a>
      </li>
       <li>
        <a class=" nav-link" title="Signup" href="{{url_for('signup')}}">Signup</a>
      </li>
          {% endif %} 
    </ul>
 <div class="username">
    {% block Head %}
    <!--Initialize ckeditor-->
    {{ ckeditor.load(pkg_type="basic") }}
    <!--Puts the Logged in users name in header-->
    {% if session['logged_in'] == True %}
    
    {% else %} {% endif %} {% endblock Head %}
  </div>
</nav>
</header>
<body>
 <div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
    <div class="alert text-center alert-{{ category }} alert-dismissible fade show" role="alert">
      <span>{{ message }}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>

	{% block content %} 
    {% endblock %}

<footer class="social-links">
      <div class="row no-gutters">
        <div class="col-sm-12 col-md-12 social-links-center">
          <ul>
            <li><a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a href="https://www.twitter.com" target="_blank"> <i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"> <i class="fab fa-youtube fa-2x"></i></a></li>
          </ul>
          <br>
           <p class="copyright">Copyright &copy; Traditional Herbs:2020</p> 
       </div>
      </div>
 </footer>

</body>
</html>
