<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid herbGb">
	<div class="container herbBgcolor">
    <div class="herbnamecure_Bg">
      <div>
		<h5> {{ herb.herb_name}}</h5> 
      </div>
      <div>  
        <h5> {{ herb.herb_cure}}</h5> 
      </div> 
    </div>
      <div class="">
            <img src="{{herb.herb_image}}" class="img-fluid herb_image_container " id="herb_herb_image" alt="{{herb.herb_name}}">
      </div>     
        <div class="herbDescription">
        <div>
        <div>
          <h5> Herb description </h5>
        </div>
          <div>
            {{ herb.herb_description}}
          </div>
        </div>
        </div>
        <div class="herbPreparation1">
        <div class="herbPreparation">
        <div>
          <h5> Herb preparation </h5>
        </div>
          <div>
            {{ herb.herb_preparation}}
          </div>
        </div>
        </div>
        <div class="herbUsage">
        <div>
        <div>
         <h5> Herb usage </h5>
        </div>
          <div>
            {{ herb.herb_usage}}
          </div>
        </div>
        </div>
         <div class="writenby">
         <h6> Writen by:  {{herb.username}} </h6> 
          <h6> Date writen: {{herb.date_added}} </h6>
        </div>
    <div class="container">
        <div class="row justify-content-center ">
            {% if session_name == herb.username %}
            <a id="edit-btn" href="{{url_for('edit_herb', herb_id=herb._id)}}" class="btn-primary ">Edit Herb</a>
            <!--Sends you to a delete page for clicked herb-->
            <a id="delete-btn" href="{{url_for('delete_herb', herb_id=herb._id)}}" class="  btn-primary ">Delete Herb</a>
            <a href="{{url_for('all_reviews')}}" class="btn-sm ">Add review</a>
            <!--Sends you back to all_herbs-->
            <a href="{{ url_for('all_herbs') }}" class="btn-sm ">Back Home</a>
            {% else %}
            <a href="{{ url_for('all_herbs') }}" class="btn-sm ">Back Home</a>
            <a href="{{ url_for('all_reviews' )}}" class="btn-sm ">Add review</a>
            {% endif %}
        </div>
	</div>
</div>  
</div>
{% endblock %}